.container {
    display: flex;
    justify-content: center;
}




.grid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    height: 680px;
    width: 680px;
    --size: 16;
}

.grid div {
    flex: 1 0 calc(100% / var(--size));
    height: calc(100% / var(--size));
    border: 1px solid #ddd;
    box-sizing: border-box;
}
