body {
    display: flex;
    /* align-items: center; */
    justify-content: center;
}


.grid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    height: 80vh;
    width: 50vw;
}

.grid div {
    border: 1px solid #ddd;
    flex: 1 0 calc(100% / 16);
    height: calc(100% / 16);
    box-sizing: border-box;
}